<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.live.emmazone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".base.AppController"
        android:allowBackup="false"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmmaZone"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.provider.Withdrawal2Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.provider.MyBankAccountActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".utils.SimpleScannerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ImageZoomActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddCardActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".activities.provider.AddShopDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.provider.QrScannerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.auth.ForgotPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.provider.OrderDetailDeliveredStatusActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.provider.OrderDetailProOngoingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.provider.OrderDetailPendingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.provider.OrderDetailNewSaleActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.provider.WithDrawBankInfoActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.provider.EditProductActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.provider.AddNewProductActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.provider.EditShopDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.provider.ProviderMainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.provider.AddBankAccountActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.provider.WithdrawalActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.provider.MyEarningsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.main.OrderDeliveredDetail"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.main.OrderCancelled"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.main.ReservedDeliveredDetail"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.main.OrderDetail"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.main.Message"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.auth.EditProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.auth.ProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.main.SearchActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.main.Cart"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.main.RatingReviews"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.main.ShopReviewsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.main.ProductReviewsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.main.ProductDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.main.ShopDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.main.FilterActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/EmmaZone.MaterialTheme" />
        <activity
            android:name=".activities.main.PaymentMethod"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.main.Notifications"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.main.DeliveryAddress"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.main.BottomSheetDialog"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddNewAddress"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PrivacyPolicy"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TermsCondition"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FAQ"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.auth.ChangePassword"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.VerificationCode"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TermsCondition"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".activities.auth.SignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.auth.UserLoginChoice"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.auth.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/EmmaZone.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />


        <service
            android:name=".push.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>