<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.live.emmazone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmmaZone">
        <activity
            android:name=".activities.provider.OrderDetailDeliveredStatusActivity"
            android:exported="true" />
        <activity
            android:name=".activities.provider.OrderDetailProOngoingActivity"
            android:exported="true" />
        <activity
            android:name=".activities.provider.OrderDetailPendingActivity"
            android:exported="true" />
        <activity
            android:name=".activities.provider.OrderDetailNewSaleActivity"
            android:exported="true" />
        <activity
            android:name=".activities.provider.WithDrawBankInfoActivity"
            android:exported="true" />
        <activity
            android:name=".activities.provider.EditProductActivity"
            android:exported="true" />
        <activity
            android:name=".activities.provider.AddNewProductActivity"
            android:exported="true" />
        <activity
            android:name=".activities.provider.EditShopDetailActivity"
            android:exported="true" />
        <activity
            android:name=".activities.provider.ProviderMainActivity"
            android:exported="true" />
        <activity
            android:name=".activities.provider.ProviderShopDetailActivity"
            android:exported="true" />
        <activity
            android:name=".activities.provider.AddBankAccountActivity"
            android:exported="true" />
        <activity
            android:name=".activities.provider.WithdrawalActivity"
            android:exported="true" />
        <activity
            android:name=".activities.provider.MyEarningsActivity"
            android:exported="true" />
        <activity
            android:name=".activities.main.OrderDeliveredDetail"
            android:exported="true" />
        <activity
            android:name=".activities.main.OrderCancelled"
            android:exported="true" />
        <activity
            android:name=".activities.main.ReservedDeliveredDetail"
            android:exported="true" />
        <activity
            android:name=".activities.main.OrderDetail"
            android:exported="true" />
        <activity
            android:name=".activities.main.Message"
            android:exported="true" />
        <activity
            android:name=".activities.auth.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".activities.auth.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".activities.main.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".activities.main.Cart"
            android:exported="true" />
        <activity
            android:name=".activities.main.RatingReviews"
            android:exported="true" />
        <activity
            android:name=".activities.main.ShopReviewsActivity"
            android:exported="true" />
        <activity
            android:name=".activities.main.ProductReviewsActivity"
            android:exported="true" />
        <activity
            android:name=".activities.main.ProductDetailActivity"
            android:exported="true" />
        <activity
            android:name=".activities.main.ShopDetailActivity"
            android:exported="true" />
        <activity
            android:name=".activities.main.FilterActivity"
            android:exported="true" />
        <activity
            android:name=".activities.main.PaymentMethod"
            android:exported="true" />
        <activity
            android:name=".activities.main.Notifications"
            android:exported="true" />
        <activity
            android:name=".activities.main.DeliveryAddress"
            android:exported="true" />
        <activity
            android:name=".activities.main.BottomSheetDialog"
            android:exported="true" />
        <activity
            android:name=".activities.AddNewAddress"
            android:exported="true" />
        <activity
            android:name=".activities.Privacypolicy"
            android:exported="true" />
        <activity
            android:name=".activities.TermsCondition"
            android:exported="true" />
        <activity
            android:name=".activities.FAQ"
            android:exported="true" />
        <activity
            android:name=".activities.auth.ChangePassword"
            android:exported="true" />
        <activity
            android:name=".activities.VerificationCode"
            android:exported="true" />
        <activity
            android:name=".activities.TermsCondition"
            android:exported="true"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".activities.auth.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".activities.auth.UserLoginChoice"
            android:exported="true" />
        <activity
            android:name=".activities.auth.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>